[submodule "extern/pisa"]
	path = extern/pisa
	url = https://github.com/pisa-engine/pisa.git
[submodule "extern/cppitertools"]
	path = extern/cppitertools
	url = https://github.com/ryanhaining/cppitertools.git
